<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body class="sample">

<h2 class="solid">Open A Savings Account</h2>
<h2>Personal Details</h2>

<form>
    <label>Title  - </label>   
        <select>  
        <option value="Mr">Mr</option>  
        <option value="Ms">Ms</option>  
        <option value="Miss">Miss</option>
        </select><br><br>
    <label> First Name  - </label>         
        <input type="text" name="firstname" size="15"/> <br> <br>  
    <label> Middle Name  - </label>     
        <input type="text" name="middlename" size="15"/> <br> <br>  
    <label> Last Name  - </label>         
        <input type="text" name="lastname" size="15"/> <br> <br>  
    <label> Father's Name  - </label>         
        <input type="text" name="lastname" size="15"/> <br> <br>  
    <label> Mobile Number  - </label>  
        <input type="text" name="mobile" size="10"/> <br> <br>  
    <label> Email  - </label>  
        <input type="email" id="email" name="email"/> <br> <br>  
    <label> Aadhar Card Number - </label>  
        <input type="text" name="aadhar" size="12"/> <br> <br>  
    <label> Date of Birth  - </label>
        <input type="date" id="birthdate" name="birthdate"><br><br>
    <label> Residential Address</label><br><br>
    <label> a)Address Line 1 - </label>         
        <input type="text" name="addressline1" size="30"/> <br> <br>
    <label> b)Address Line 2 - </label>         
        <input type="text" name="addressline2" size="30"/> <br> <br>
    <label> c)LandMark - </label>         
        <input type="text" name="LandMark" size="30"/> <br> <br>
    <label> d)State - </label>         
        <input type="text" name="State" size="15"/> <br> <br>
    <label> e)City - </label>         
        <input type="text" name="city" size="15"/> <br> <br>
    <label> f)PinCode - </label>         
        <input type="text" name="pincode" size="7"/> <br> <br>
    
    <label> Permanent Address</label><br><br>
    <input type="checkbox" id="permanentadd" name="permanentadd">
    <label>Permanent Address same as Mailing Address</label><br><br>
    <label> a)Address Line 1 - </label>         
        <input type="text" name="addressline1" size="30"/> <br> <br>
    <label> b)Address Line 2 - </label>         
        <input type="text" name="addressline2" size="30"/> <br> <br>
    <label> c)LandMark - </label>         
        <input type="text" name="LandMark" size="30"/> <br> <br>
    <label> d)State - </label>         
        <input type="text" name="State" size="15"/> <br> <br>
    <label> e)City - </label>         
        <input type="text" name="city" size="15"/> <br> <br>
    <label> f)PinCode - </label>         
        <input type="text" name="pincode" size="7"/> <br> <br>

    <label> Occupation Details</label><br><br>
    <label> a)Occupation Type - </label>   
        <select>  
        <option value="Occupation">Occupation</option>
        <option value="Profession">Profession</option>  
        <option value="Employment">Employment</option>  
        <option value="Business">Business</option>
        </select><br><br>
    <label> b)Source of Income - </label>   
        <select>  
        <option value="Source of Income">Source of Income</option> 
        <option value="Self-employment Income">Self-employment Income</option> 
        <option value="Investment Income">Investment Income</option>  
        </select><br><br>
    <label> c)Gross Annual Income - </label>         
        <input type="text" name="income" size="30"/> <br> <br>
    <label>Debit/ ATM Card</label><br><br>
    <input type="checkbox" id="debit" name="debit">
    <label>Do you want debit card ?</label><br><br>
    <input type="checkbox" id="netbanking" name="netbanking">
    <label>Opt for Net Banking</label><br><br>
    <input type="checkbox" id="agree" name="agree">
    <label>I agree....</label><br><br>
    <button type="submit" form="nameform" value="Submit">Submit</button>
</form>

</body>
</html>