<form >
    
    <div class="row mb-3">
        <div class="col text-center mb-5">
            <span class="fs-4  border p-2 border-dark border-1 text-danger">Maximum Login Attempt Reached</span>
        </div>
    </div>
    <!-- <div class="row mb-3 p-1">
        <div class="col text-start">
            <button type="submit" routerLink="/account-locked-page">Click here to generate password</button><br><br><br>
        </div>
    </div> -->
    <div class="row">
        <div class="col-6 offset-2">
          <div class="d-grid">
          <input routerLink="/fp" class="btn btn-primary" type="submit" value="Click here to generate password">
          </div>
        </div>
      </div>

</form>