<!DOCTYPE html>   
<html><form>
<head>   
<title> Register for Internet Banking </title>  
<style>
    label{
        font-family:verdana;
        font-size:20px;
    }
    button{
        font-family:verdana;
        font-size:18px;
    }
    body{
        text-align: center;
    }
    form{
        display: inline-block;
    }
</style>  
</head>    
<body>    
    <h1 style="font-family:verdana"> Register for Internet Banking </h1><br><br><br><br>  
    <form>   
        <label>Account Number : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
        <input type="number" placeholder="Enter Account Number" name="accountnumber" required><br><br>  
        <label>Set Login Password : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="password" placeholder="Enter Login Password" name="setloginpassword" required><br><br>
        <label>Confirm Login Password : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="password" placeholder="Re-enter Login Password" name="confirmloginpassword" required><br><br>
        <label>Set Transaction Password : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="password" placeholder="Enter Transaction Password" name="settransactionpassword" required><br><br>
        <label>Confirm Transaction Password : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="password" placeholder="Re-enter Transaction Password" name="confirmtransactionpassword" required><br><br><br><br>
        <button type="submit" routerLink="/login">Submit</button>
    </form>     
</body>  
</form>   
</html>  