<!DOCTYPE html>
<html>
<body>
  <link rel="stylesheet" href="transaction-successful.component.css">
<form  class="border p-3 rounded-3">
  <div class="row g-0">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class=" fs-3">Transfer</span>
    </div>
  </div>
  <div class="row">
  <div class="col"> 
    <output>Mode - </output><br><br>
  </div>
  <div class="col">
    <output>RTGS</output>
  </div>
</div>

<div class="row" >
  <div class="col"> 
    <output>Paid to Account - </output><br><br>
  </div >
  <div class="col">
    <output *ngFor="let user of users">{{user.receiver}}</output>
  </div>
</div>

<div class="row">
  <div class="col"> 
    <output>Amount - </output><br><br>
  </div>
  <div class="col">
    <output *ngFor="let user of users">{{user.amount}}</output>
  </div>
</div>

<div class="row">
  <div class="col"> 
    <output>From Account - </output><br><br>
  </div>
  <div class="col">
    <output *ngFor="let user of users">{{user.sender}}</output>
  </div>
</div>

<div class="row">
  <div class="col"> 
    <output>On - </output><br><br>
  </div>
  <div class="col">
    <output>23/06/2022</output>
  </div>
</div><br>

<div class="row">
  <div class="col"> 
    <output>Remarks - </output><br><br>
  </div>
  <div class="col">
    <output>School</output>
  </div>
</div>

