<!DOCTYPE html>   
<html>   
<head>   
<title> Login Page </title>  
<style>
    label{
        font-family:verdana;
        font-size:20px;
        font-weight: bold;
    }
    button{
        font-family:verdana;
        font-size:18px;
        font-weight: bold;
    }
    .FooterSection{
        font-family:verdana;
        font-size:14px;
        font-weight: bold;
    }
</style>  
</head>    
<body>    
    <center> <h1 style="font-family:verdana"> Login to your Account </h1> </center><br><br><br><br>  
    <center>
    <form>   
        <label>User ID : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
        <input type="text" placeholder="Enter User ID" name="userid" required><br><br>  
        <label>Password : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="password" placeholder="Enter Password" name="password" required><br><br><br>
        <button type="submit">Login</button><br><br><br>
        <center>
        <div class="FooterSection">
        First Time User? <a href="#">Register</a><br><br>
        Forgot <a href="#">User ID?</a><br><br>
        Forgot <a href="#">Passowrd?</a><br><br>
        </div>
        </center>  
    </form>
    </center>     
</body>     
</html>  