<!DOCTYPE html>   
<html>   
<head>   
<title> Login Page </title>  
<style>
    label{
        font-family:verdana;
        font-size:20px;
    }
    button{
        font-family:verdana;
        font-size:18px;
    }
    .FooterSection{
        font-family:verdana;
        font-size:14px;
    }
    body{
        text-align: center;
    }
    form{
        display: inline-block;
    }
</style>  
</head>    
<form >
    <body>    
        <h1 style="font-family:verdana"> Login to your Account </h1><br><br><br><br>  
        <form>   
            <label>User ID : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
            <input type="text" placeholder="Enter User ID" name="userid" required><br><br>  
            <label>Password : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" placeholder="Enter Password" name="password" required><br><br><br>
            <button type="submit" routerLink="/dashboard">Login</button><br><br><br>
            <div class="FooterSection">
            First Time User? <a routerLink="/open-an-account">Register</a><br><br>
            Forgot <a routerLink="/forgotuserid">User ID?</a><br><br>
            Forgot <a routerLink="/fp">Passoword?</a><br><br>
            </div>  
        </form>     
    </body>
</form>
     
</html>  