<!DOCTYPE html>
<html>
    <head>
        </head>
        <body>
            
            <link rel="stylesheet" href="change-password.component.css">
       <form [formGroup]="changepasswordForm" (ngSubmit)="changepasswordSubmitted()" class="border p-3 rounded-3">
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light">
              <span class="fs-3">Set New Password</span>
            </div>
            <div class="row">
                <div class="col mb-3">
                  <label for="newpassword" class="form-label">Login Password -</label><br>
                </div>
                <div class="col mb-3">
                  <input type="password" id="newpassword" formControlName="newpassword"><br>
                  <div class="form-text text-danger" *ngIf="newpassword.errors?.['required'] && (newpassword.dirty || newpassword.touched)">
                    Password is required
                  </div>
                  <div class="form-text text-danger" *ngIf="newpassword.errors?.['minlength'] || newpassword.errors?.['maxlength'] && (newpassword.dirty || newpassword.touched)">
                    Minimum 8 charecters password is required
                  </div>
                </div>
            </div>
            
          
            <div class="row">
                <div class="col mb-3">
                  <label for="confirmnewpassword" class="form-label">Confirm Login Password -</label><br>
                </div>
                <div class="col mb-3">
                  <input type="password" id="confirmnewpassword" formControlName="confirmnewpassword"><br><br>
                  <div class="form-text text-danger" [ngStyle]="{'display': changePass}">
                    Password should be same as login pasword
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <label for="newtransactionpin" class="form-label">Transaction Password -</label><br>
                </div>
                <div class="col mb-3">
                  <input type="password" id="newtransactionpin" formControlName="newtransactionpin"><br>
                  <div class="form-text text-danger" *ngIf="newtransactionpin.errors?.['required'] && (newtransactionpin.dirty || newtransactionpin.touched)">
                    Transaction Password is Required
                  </div>
                  <div class="form-text text-danger" *ngIf="newtransactionpin.errors?.['pattern'] && (newtransactionpin.dirty || newtransactionpin.touched)">
                    Transaction Password should contain only Digits
                  </div>
                  <div class="form-text text-danger" *ngIf="newtransactionpin.errors?.['minlength'] || newtransactionpin.errors?.['maxlength'] && (newtransactionpin.dirty || newtransactionpin.touched)">
                    6 Digit Transaction Password is Required
                  </div>
                </div>
              

              <div class="row">
                <div class="col mb-3">
                  <label for="confirmnewtransactionpin" class="form-label">Confirm Transaction password -</label><br>
                </div>
                <div class="col mb-3">
                  <input type="password" id="confirmnewtransactionpin" formControlName="confirmnewtransactionpin"><br><br>
                  <div class="form-text text-danger" [ngStyle]="{'display': changePin}">
                    Entered different Transaction Password
                  </div>
                </div>
              </div>
          
              <div class="row">
                <div class="col-6 offset-3">
                  <div class="d-grid">
                  <input class="btn btn-primary" type="submit" [disabled]="changepasswordForm.invalid" value="submit">
                  </div>
                </div>
              </div>

