<!DOCTYPE html>
<html>
    <head>
        </head>
        <body>
            
            <link rel="stylesheet" href="change-password.component.css">
       <form [formGroup]="ChangePasswordComponent" (ngSubmit)="changePasswordSubmitted()" class="border p-3 rounded-3">
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light">
              <span class="fs-3">Set New Password</span>
            </div>
            <div class="row">
                <div class="col mb-3">
                  <label for="Login password" class="form-label">Login Password -</label><br>
                </div>
                <div class="col mb-3">
                  <input type="password" id="Password" formControlName="password"><br>
                </div>
            </div>
            
          
            <div class="row">
                <div class="col mb-3">
                  <label for="confirm password" class="form-label">Confirm Login Password -</label><br>
                </div>
                <div class="col mb-3">
                  <input type="password" id="Password" formControlName="password"><br><br>
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <label for="Transaction password" class="form-label">Transaction Password -</label><br>
                </div>
                <div class="col mb-3">
                  <input type="password" id="transation password" formControlName="transaction password"><br>
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <label for="confirm Transaction password" class="form-label">Confirm Transaction password -</label><br>
                </div>
                <div class="col mb-3">
                  <input type="password" id="confirm password" formControlName="confirm password"><br><br>
                </div>
              </div>
          
              <div class="row">
                <div class="col-6 offset-3">
                  <div class="d-grid">
                  <input class="btn btn-primary" type="submit" value="submit">
                  </div>
                </div>
              </div>

