
<html>
    <head>
        </head>
        <body>
            <link rel="stylesheet" href="session-expired.component.css">
            <h1 style="text-align:centre;">
                
                <div style="border:5px solid #120000; text-align:center;
                width:30%">
                    Set New Password
                </div>
                
            </h1>
            <form>
                
               Login Password -    <input type="password" id="passwords" values="">
                <span id="messages"> </span><br>
            Confirm Login Password  -  <input type="password" id="passwords" value="">
                <span id="messages"> </span><br>
                Transaction Password - <input type="password" id="passwords" values="">
                <span id="message"> </span><br>
                Confirm Transation Password - <input type="password" id="passwords" values=""><br>
                <input type="submit" value="Submit">
                
            </form>
        </body>
    
</html>

