<html>
    <head>
        </head>
        <body>
            <h1 style="text-align:centre;">Set New Password</h1>
            <form>
               Login Password<h1>-</h1><input type="password" id="passwords" values="">
                <span id="messages"> </span><br></br>
                Confirm Login password<input type="password" id="passwords" value="">
                <span id="messages"> </span><br></br>
                <input type="submit" value="Submit">
            </form>
        </body>
    
</html>
