<div class="container">
    1-----<app-account></app-account>
</div><br><br>
<div class="container">
    2-----<app-add-payee></app-add-payee>
</div><br><br>
<div class="container">
    3-----<app-change-password></app-change-password>
</div><br><br>
<div class="container">
    4-----<app-dashboard></app-dashboard>
</div><br><br>
<div class="container">
    5-----<app-forget-password></app-forget-password>
</div><br><br>
<div class="container">
    6-----<app-forget-user-id></app-forget-user-id>
</div><br><br>
<div class="container">
    7-----<app-home></app-home>
</div><br><br>
<div class="container">
    8-----<app-imps-transaction></app-imps-transaction>
</div><br><br>
<div class="container">
    9-----<app-login></app-login>>
</div><br><br>
<div class="container">
    10-----<app-open-an-account></app-open-an-account>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
    11-----<app-register-for-internet-banking></app-register-for-internet-banking>
</div><br><br>
<div class="container">
    12-----<app-rtgs-transaction></app-rtgs-transaction>
</div><br><br>
<div class="container">
    13-----<app-session-expired></app-session-expired>
</div><br><br>
<div class="container">
    14-----<app-set-new-password></app-set-new-password>
</div><br><br>
<div class="container">
    15-----<app-set-new-password></app-set-new-password>
</div><br><br>
<div class="container">
    16-----<app-transaction-successful></app-transaction-successful>
</div><br><br>