<!DOCTYPE html>
<html>
<body>
  <link rel="stylesheet" href="neft-transaction.component.css">
<form [formGroup]="neftTransaction"(ngSubmit)="neftSubmitted()" class="border p-3 rounded-3">
  <div class="row g-0">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class=" fs-3">Initiate NEFT Payment</span>
    </div>
  </div>
  <div class="row">
    <div class="col"> 
      <label for="sender" class="form-label">From Account -</label><br><br>
    </div>
    <div class="col">
      <input type="text" id="sender" formControlName="sender"><br><br>
      <div class="form-text text-danger" *ngIf="sender.errors?.['required'] && (sender.dirty || sender.touched)">Field is Required</div>
        <div class="form-text text-danger" *ngIf="sender.errors?.['minlength']&& (sender.touched || sender.dirty)">Account Number is Invalid</div>
        <div class="form-text text-danger" *ngIf="sender.errors?.['maxlength']&& (sender.touched || sender.dirty)">Account Number is Invalid</div>
        <div class="form-text text-danger" *ngIf="sender.errors?.['pattern']&& (sender.touched || sender.dirty)">Account Number Must be only number</div><br><br>
    </div>
  </div>

    <div class="row">
      <div class="col mb-3">
        <label for="receiver" class="form-label">To Account -</label><br><br>
      </div>
      <div class="col mb-3">
        <input type="text" id="receiver" formControlName="receiver"><br><br>
        <div class="form-text text-danger" *ngIf="receiver.errors?.['required'] && (receiver.dirty || receiver.touched)">Field is Required</div>
        <div class="form-text text-danger" *ngIf="receiver.errors?.['minlength']&& (receiver.touched || receiver.dirty)">Account Number is Invalid</div>
        <div class="form-text text-danger" *ngIf="receiver.errors?.['maxlength']&& (receiver.touched || receiver.dirty)">Account Number is Invalid</div>
        <div class="form-text text-danger" *ngIf="receiver.errors?.['pattern']&& (receiver.touched || receiver.dirty)">Account Number Must be only number</div><br><br>
      </div>
      <div class="col btn-lg">
        <input class="btn btn-primary" routerLink="/add-payee" type="submit" value="Add New +">
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="amount" class="form-label">Amount -</label><br>
      </div>
      <div class="col mb-3">
        <input type="number" id="amount" formControlName="amount"><br><br>
        <div class="form-text text-danger" *ngIf="amount.errors?.['required']&& amount.touched">
          Valid Amount is Required
        </div>
        <div class="form-text text-danger" *ngIf="amount.errors?.['pattern']&& (amount.touched || sender.dirty)">
          Number is Required
        </div>
        <br><br>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="transactionDate" class="form-label">Transaction Date-</label><br><br>
      </div>
      <div class="col mb-3">
        <input type="date" id="transactionDate" formControlName="transactionDate"><br><br>
        <div class="form-text text-danger" *ngIf="transactionDate.errors?.['required'] && (transactionDate.dirty || transactionDate.touched)">Date is Required</div>
      </div>
    </div>

    

    <div class="font-italic">
      <div class="col mb-3">
        Please note:
        <ol>
          <li>Transaction will be executed on the next working day if they are scheduled for Sundays, National Holidays, NEFT Holidays (as declared by RBI).</li><br>
          <li>Timings for NEFT : Monday-Saturday(except 2nd and 4th Saturday) 6:00 AM - 6:30 PM.</li>
        </ol>
      </div>
    </div>

    

    <div class="row">
      <div class="col mb-3">
        <input class="btn btn-primary" type="button" routerLink="/dashboard" value="Back">
      </div>
      
      <div class="col mb-3">
        <input class="btn btn-primary" type="submit" value="Continue">
      </div>
    </div>