h2{
    text-align: center;
    border-style: solid;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 200px;
}
.container{
    margin-left: 195px; 
    margin-top: 50px;
    text-align: justify;
    display: flex;
    justify-content: center;
    width: 100%;
}
.button{
    text-align: right;
    margin-right: 350px;
}
.para{
    font-size: small;
    font-style: italic;
    margin-right: 350px;
}
.margin{
    margin-left: 90px;
}