<!DOCTYPE html>
<html>
<body>
  <link rel="stylesheet" href="imps-transaction.component.css">
<form [formGroup]="impsTransaction" (ngSubmit)="impsSubmitted()" class="border p-3 rounded-3">
  <div class="row g-0">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">Initiate IMPS Payment</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="sender" class="form-label">From Account -</label><br><br>
    </div>
    <div class="col">
      <input type="text" id="sender" formControlName="sender">
      <div class="form-text text-danger" *ngIf="sender.errors?.['required'] && (sender.touched || sender.dirty)">
        Name is Required
      </div>
      <div class="form-text text-danger" *ngIf="sender.errors?.['pattern'] && (sender.touched || sender.dirty)">
      Name should start with Alphabet
      </div>
      <br><br>
    </div>
  </div>

    <div class="row">
      <div class="col mb-3">
        <label for="receiver" class="form-label">To Account -</label><br><br>
      </div>
      <div class="col mb-3">
        <input type="text" id="receiver" formControlName="receiver">
        <div class="form-text text-danger" *ngIf="receiver.errors?.['required']&& (receiver.touched || sender.dirty)">
          Number is Required
        </div>
        <div class="form-text text-danger" *ngIf="receiver.errors?.['pattern']&& (receiver.touched || sender.dirty)">
        Number is Required
        </div>
        <br><br>
      </div>
      <div class="col btn-lg float-end">
        <input class="btn btn-primary" routerLink="/add-payee" type="submit" value="Add New +">
      </div>
    </div>
    

    <div class="row">
      <div class="col mb-3">
        <label for="amount" class="form-label">Amount -</label><br>
      </div>
      <div class="col mb-3">
        <input type="text" id="amount" formControlName="amount">
        <div class="form-text text-danger" *ngIf="amount.errors?.['required']&& amount.touched">
          Valid Amount is Required
        </div>
        <div class="form-text text-danger" *ngIf="amount.errors?.['pattern']&& (amount.touched || sender.dirty)">
          Number is Required
        </div>
        <br><br>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="date" class="form-label">Transaction Date-</label><br><br>
      </div>
      <div class="col mb-3">
        <input type="date" id="date" formControlName="date"><br><br>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="instructions" class="form-label">Marutity Instructions -</label><br><br>
      </div>
      <div class="col mb-3">
        <input type="text" id="instructions" formControlName="instructions"><br><br>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="remarks" class="form-label">Remarks -</label><br><br>
      </div>
      <div class="col mb-3">
        <input type="text" id="remarks" formControlName="remarks"><br><br>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <input class="btn btn-primary" type="submit" value="Save">
      </div>
      <div class="col mb-3">
        <input routerLink="/imps-transaction" class="btn btn-primary" type="submit" value="Reset">
      </div>
      <div class="col mb-3">
        <input class="btn btn-primary" type="submit" value="Save as Template">
      </div>
      <div class="col mb-3">
        <input routerLink="/transaction-successful" class="btn btn-primary" type="submit" value="Continue">
      </div>
    </div>

