<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" href="add-payee.component.css">
<h2 class="Heading">Add New Beneficiary</h2>
<div class="container">
<form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)" >

  <label for="name">Beneficiary Name&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;&ensp;</label>
  <input class="inpRig" type="text" id="name" name="name"><br><br>

  <label for="number">Beneficiary Account Number&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;&ensp;</label>
  <input class="inpRig" type="number" id="accno" name="accno"><br><br>

  <label for="number">Re-Enter Account Number &ensp;&ensp;&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;&ensp;</label>
  <input class="inpRig" type="number" id="accno" name="accno"><br><br>

  <input type="checkbox" id="saveBen" name="saveBen">
  <label class="inpCen" for="saveBen">Save Beneficiary</label><br><br>

  <label for="nickname">Nick Name &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;&ensp;</label>
  <input class="inpRig" type="text" id="nickname" name="nickname"><br><br>
  <div class="button">
  <input class="inpCen" type="submit" value="Save As Beneficiary">
  </div>
</form>
</div>
</body>
</html>