<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" href="add-payee.component.css">
<div class="container">
<form class="border border-dark">
  <div class="row g-0">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">Add New Beneficiary</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="name" class="form-">Beneficiary Name</label>
      <input class="inpRig" type="text" id="name"><br><br>
    </div>
    <div class="col">

    </div>
  </div>

  <label for="name">Beneficiary Name&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;&ensp;</label>
  <input class="inpRig" type="text" id="name" name="name"><br><br>

  <label for="number">Beneficiary Account Number&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;&ensp;</label>
  <input class="inpRig" type="number" id="accno" name="accno"><br><br>

  <label for="number">Re-Enter Account Number &ensp;&ensp;&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;&ensp;</label>
  <input class="inpRig" type="number" id="accno" name="accno"><br><br>

  <input type="checkbox" id="saveBen" name="saveBen">
  <label class="inpCen" for="saveBen">Save Beneficiary</label><br><br>

  <label for="nickname">Nick Name &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;&ensp;</label>
  <input class="inpRig" type="text" id="nickname" name="nickname"><br><br>
  <div class="button">
  <input class="inpCen" type="submit" value="Save As Beneficiary">
  </div>
</form>
</div>
</body>
</html>