<!DOCTYPE html>   
<html>   
<head>   
    <title> HomePage </title>   
</head>
<style>
    body{
        text-align: center;
        font-family:verdana;
        font-size:18px;
    }
    img{
        padding-left: 100px;
    }
    table,th,td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    .right{
        margin-left: 900px;
    }
</style>    
<body>    
    <h1 style="font-family:verdana"> Home </h1>
    <img align=left src="https://media.istockphoto.com/photos/man-using-online-banking-with-credit-card-on-touch-screen-device-picture-id962095876?k=20&m=962095876&s=612x612&w=0&h=yzt6qDr5tnD-vMBMiM_IMYXVPCRnfULnrFy_54w0ooM=" width="650" height="550">
    <table class="right">
        <tr>
            <th>Login Internet Banking</th>
        </tr>
        <tr>
            <td><a routerLink="/login">Login</a></td>
        </tr>
        <tr>
            <td><a routerLink="/register-for-internet-banking">New User? Register</a></td>
        </tr>
        <tr>
            <td><a routerLink="/open-an-account">Apply Online for Account</a></td>
        </tr>
    </table>     
</body>     
</html>  