 <!DOCTYPE html>
<html>
<body>
  <form class="border border-dark">
<div class="row g-0">
  <div class="col text-center p-2 mb-3 bg-light">
    <span class="fs-3">Register</span>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="date" class="form-control" id="statementfrom">
      <div class="form-date date-danger" *ngIf="sender.errors?.['required']&& (sender.touched || sender.dirty)">
        Date is Required
      </div>
      <br>
      <div class="col mb-3">
        <label for="upto" class="form-label">to -</label><br><br>
      </div>
      <div class="col mb-3">
        <input type="date" id="upto" formControlName="upto">
        <div class="form-date date-danger" *ngIf="receiver.errors?.['required']&& (receiver.touched || sender.dirty)">
          Date is Required
        </div>
        <hr>

        <table>
          <tr>
            <th *ngFor ="let column of headers">
              {{column}}
            </th>
          </tr>

          <tr *ngFor = "let row of rows">
            <td *ngFor = "let column of headers">
              {{row[column]}}
            </td>
          </tr>
          
        </table>
      
   