<!DOCTYPE html>
<html>
<body>
<h2 class="Heading">Forgot Password</h2>
<h3 class="Heading">Enter Details</h3>

<form class="container">
    <link rel="stylesheet" href="forget-password.component.css">
    <label> Enter User ID  - </label>         
        <input type="text" name="userid" size="15"/> <br> <br>  
    <label> Enter OTP - </label>     
        <input type="text" name="otp" size="5"/> <br> <br>  
        <button type="submit" form="nameform" value="Submit">Proceed</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <button type="submit" form="nameform" value="Submit">Back</button>
</form>
</body>
</html>