
<!DOCTYPE html>
<html>
    <head>
        </head>
        <body>
            
            <link rel="stylesheet" href="set-new-password.component.css">
            <h1>
                
                <div>
                    Set New Password
                </div>
                
            </h1>
            <form class="container">
                
               Login Password -    <input type="password" id="passwords" values=""><br>
                <span id="messages"> </span><br>
            Confirm Login Password  -  <input type="password" id="passwords" value=""><br>
                <span id="messages"> </span><br>
                Transaction Password - <input type="password" id="passwords" values=""><br>
                <span id="message"> </span><br>
                Confirm Transation Password - <input type="password" id="passwords" values=""><br><br><br>
                <input type="submit" value="Submit">
                
            </form>
        </body>
    
</html>